[Unit]
Description=Random Data Producer
After=network.target

[Service]
Type=simple
User=datapipe
Group=datapipe
WorkingDirectory=/opt/producer-consumer-service
ExecStart=/usr/bin/java -jar /opt/producer-consumer-service/producer-consumer-service-1.0.0.jar --mode=producer --frequency-ms=1000 --data-port=9000 --api-port=8080
Restart=on-failure
RestartSec=2
SuccessExitStatus=0 143

[Install]
WantedBy=multi-user.target
